<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                         http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://192.168.10.208:13316/ewallet?autoReconnect=true" />
		<property name="user" value="root" />
		<property name="password" value="mq" />
		<property name="initialPoolSize" value="10"/>
	    <property name="maxPoolSize" value="20"/>
	    <property name="testConnectionOnCheckin" value="false"/>
	    <property name="testConnectionOnCheckout" value="true"/>
	    <property name="preferredTestQuery" value="SELECT 1"/>

 
<!--  		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/fc_wfc?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8" />
		<property name="user" value="root" />
		<property name="password" value="root" />
 --> 
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/sql-map-config.xml"></property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<tx:advice id="MysqlAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*elete*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="*pdate*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="*nsert*" propagation="REQUIRED"  rollback-for="Throwable" />
			<tx:method name="*reate*" propagation="REQUIRED"  rollback-for="Throwable" />
		</tx:attributes>
	</tx:advice>

	<bean id="commonSqlMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.fr.chain.db.dao.CommonSqlMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 配置参与事务的类 -->
<!-- 	<aop:config>
		<aop:pointcut id="allTestServiceMethod"
			expression="execution(* com.fr.chain.*.db.dao.*.*(..))" />
		<aop:advisor pointcut-ref="allTestServiceMethod"
			advice-ref="MysqlAdvice" />
	</aop:config>
 -->


</beans>