<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                         http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	
	 <context:annotation-config />
	<context:component-scan base-package="com.fr.chain" /> 
	
	<!-- 为了springAOP能够代理事务,  需要在aplicationContext.xml中扫描带事务的注解, 为了springMVC能正常使用需要在**_servlet.xml中扫描Controller注解
	<context:component-scan base-package="com.fr.chain">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  
    </context:component-scan> -->
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/ewallet" />
		<property name="lookupOnStartup" value="true"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/sql-map-config.xml"></property>
	<!-- 	<property name="transactionFactory">
	       <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />
        </property> -->
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

 	<tx:advice id="MysqlAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- <tx:method name="*elete*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="*pdate*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="*nsert*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="*reate*" propagation="REQUIRED" rollback-for="Throwable" /> -->
			<tx:method name="*elete*" propagation="REQUIRED" />
			<tx:method name="*pdate*" propagation="REQUIRED" />
			<tx:method name="*nsert*" propagation="REQUIRED" />
			<tx:method name="*reate*" propagation="REQUIRED"  />
		</tx:attributes>
	</tx:advice> 

	<bean id="commonSqlMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.fr.chain.db.dao.CommonSqlMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
 	<aop:config>
		<aop:pointcut id="allFacadeservice"
			expression="execution(* com.fr.chain.facadeservice..*.*(..))" />
		<aop:advisor pointcut-ref="allFacadeservice"
			advice-ref="MysqlAdvice" />
	</aop:config> 

</beans>